

<table style="width: 90%;padding-left: 200px">
    <tr>
      <td style="padding-left: 200px">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li  class="active" ><a class="navbar-brand"  style="width: 250px" href="register-vechile">Register Vechile</a></li>
                <li><a class="navbar-brand"  style="width: 250px" href="confirm-ride">Confirm Ride</a></li>
                <li><a class="navbar-brand"  style="width: 250px" href="trip-summary">Trip Summary</a></li>
            </ul>
          </div>
        </nav>
      </td>
  </table>
  

<br><br>

 
  <div class="col-md-6 user-container" style="padding-left: 300px">

      <form [formGroup]="registerVechileForm" (ngSubmit)="registerVechile()">

        
          <div class="form-group">
              <label for="userId">User Id:</label>
              <input type="text" formControlName="userId" placeholder="userId" name="userId" class="form-control" id="userId">
          </div>
  
          <div class="form-group">
              <label for="vechileNo">Vechile No:</label>
              <input type="text" formControlName="vechileNo" placeholder="vechileNo" name="vechileNo" class="form-control" id="vechileNo">
          </div>

          <div class="form-group">
              <label for="vechileModel">Vechile Model:</label>
              <select formControlName="vechileModel" placeholder="vechileModel" name="vechileModel" class="form-control" id="vechileModel">
                <option value="Maruti">Maruti</option>
                <option value="BMW">BMW</option>
                <option value="Toyota">Toyota</option>
                <option value="Benz">Benz</option>
              </select>
            </div>
      
        <div class="form-group">
            <label for="noOfSeats">No of Seats:</label>
            <input type="text" formControlName="noOfSeats" placeholder="No of Seats" name="noOfSeats" class="form-control" id="noOfSeats">
        </div>
       
        <button class="btn btn-warning">Register Vechile</button>
        &nbsp; &nbsp; <button class="btn btn-danger">Reset</button>
    
      </form>
    </div>