
<table style="width: 90%;padding-left: 200px">
    <tr>
      <td style="padding-left: 200px">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a class="navbar-brand" href="all-trip-summary"
                  style="width: 400dp; box-align: center;">
                  &nbsp;&nbsp; All Employee's Trip Summary</a></li>
            </ul>
          </div>
        </nav>
      </td>
  </table>
  
  <ag-grid-angular 
    style="width: 1200px; height: 600px;padding-left: 200px" 
    class="ag-theme-blue"
    [enableSorting]="true"
    [enableFilter]="true"
    [rowData]="tripInfoList" 
    [columnDefs]="columnDefs">
</ag-grid-angular>