


<table style="width: 90%;padding-left: 200px">
    <tr>
      <td style="padding-left: 200px">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li  ><a class="navbar-brand"  style="width: 250px" href="register-vechile">Register Vechile</a></li>
                <li class="active"><a class="navbar-brand"  style="width: 250px" href="confirm-ride">Confirm Ride</a></li>
                <li><a class="navbar-brand"  style="width: 250px" href="trip-summary">Trip Summary</a></li>
            </ul>
          </div>
        </nav>
      </td>
  </table>
  
  

<br><br>

<ag-grid-angular 
style="width: 1200px; height: 300px;padding-left: 200px" 
class="ag-theme-blue"
[rowData]="bookInfoList" 
[columnDefs]="columnDefs">
</ag-grid-angular>
